#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --primary: #009874;
  --shadow: 0px 1px 19px rgba(0, 0, 0, 0.15);
  --shadowhover: 0px 10px 29px rgba(0, 0, 0, 0.35);
  --shadow2: 0px 3px 4px rgba(0, 0, 0, 0.14);
  --shadow3: 0px 1px 10px rgba(0, 0, 0, 0.05);
  --text-shadow: 1px 1px rgba(0, 0, 0, 0.35);

  --primary2: #002631;
  --primary3: #E4B347;
  --primary4: #009874;
  --primary5: #929C1B;
  --grey: #828282;

    
  --gradient: linear-gradient(90deg, #B0BC26 0%, #009874 100%);
  --gradient2: linear-gradient(90deg, #E4B347 0%, #DA4F65 100%);
  --gradient-verde: linear-gradient(90deg, #002631 0%, #009874 100%);

  --gradient-hover: linear-gradient(90deg, #B0BC26 80%, #009874 100%);

  --font-base: 'Montserrat', sans-serif;
}

body{
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

main{
  
  margin-top: 3rem;
  margin-bottom: 3rem;

  @media (min-width: 600px) {
    section{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 900px) {
    section{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1200px) {
    section{
      grid-template-columns: repeat(4, 1fr);
    }
  }
  h2{
    color: var(--primary3);
    margin-bottom: 2rem;
    width: 100%;
  }

  section{
    text-align: center;
    &.grid{
      display: grid;
    }
    gap: 2rem;
    padding: 0rem;
    margin: 1rem;
    article{
      canvas {
        display: inline-block;
      }
      &.detail{
        canvas {
          max-height: 35rem;
        }
      }
    }
    details{
      width: 100%;

      div{
        width: 100%;
        text-align: justify;
        font-size: 1.1em;
        dl{
          background-color: #f6fff2;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          padding-top: 2rem;
          padding-right: 3rem;
          padding-left: 3rem;
          padding-bottom: 1rem;
          margin-top: -1rem;
          >div{
            background-color: #daf7ce;
            border-radius: 10px;
          }
          dt{
            padding-top: 1rem;
            padding-bottom: 0.5rem;
            padding-left: 1rem;
            padding-right: 2rem;
          }
          dd{
            margin-bottom: 2rem;
            padding-bottom: 1rem;
            padding-right: 2rem;
            display: flex;
            align-items: center;
            justify-content:space-evenly;
          }
        }
      }
      summary{
        min-width: 30rem;
        background-color: #fff;
        cursor: pointer;
        padding: 1em .5em;
        list-style: none;
        border-radius: 10px;
        
        &:hover {
          background-color: #d6ebcc;
        }

        
        div {
          display: flex;
          align-items: center;
        }
        
        h3 {
          display: flex;
          flex-direction: column;
        }
        
        small {
          color: #999;
          font-size: .875em;
        }
        
        strong {
          font-weight: 700;
        }
        
        span:first-child {
          width: 4rem;
          height: 4rem;
          border-radius: 10px;
          background-color: #d6ebcc; 
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          margin-right: 1.25em;
          svg {
            width: 2.25rem;
            height: 2.25rem;
          }
        }
        
        span:last-child {
          font-weight: 700;
          margin-left: auto;
        }
        
        &:focus {
          outline: none;
        }
        
      }

      &[open] {
        summary{
          color: #289672;
          background-color: #d6ebcc;
        }
      }
    }
  }
}

.valorationProgress{
  width: 15rem;
  display: inline-block;
  progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 15rem;
    height: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.25) inset;
    background-color: var(--primary3);
    color: var(--primary4)
  }
  
  small{
    margin-right: 2rem;
  }

  p[data-value], span.canales {   
    position: relative; 
  }
  
  /* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */
  
  p[data-value]:after {
    content: attr(data-value);
    position: absolute; right:0;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header{
  nav{
    position: fixed;
    top:0px;
    left: 0px;
    height: 4rem;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    display: flex;
    width: 100%;
    box-sizing:border-box;
    /* background-color: #1a1a1ab5; */
    background-color: white;
    color:#ffff;
    align-items: center;
    justify-content: center;

    img {
      position: absolute;
      left: 2rem;
      height: 3rem;
    }
    h1{
      font-size: 2.2rem;
      padding-left: 2.2rem;
      color: var(--primary);
    }

    ul{
      font-size: 1.3rem;
      font-weight: 450;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 1rem;
      li{
        a{
          cursor: pointer;
          &:hover{
            color: #dfdbdbd0;  
          }
        }
      }
    }
  }
}

.dev-footer{
  position: fixed;
  bottom:0px;
  left: 0px;
  height: 4rem;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  img {
    height: 1rem;
  }
}